<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
Start your blog at the best possible Internet real estate. You’ll get an address that looks like you.blog.com. It’s the virtual equivalent of your own island in Dubai, mansion in Monte Carlo or a Manhattan flat overlooking Central Park.Get the help of friends or people with shared interests. Blog.com allows you to pick your team of authors, all capable of publishing entries, reviewing comments and many more. Build your own online publication. Here, with us.
</p>


