<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p> 
	This is an effort to bring together people on the social media to share their findings on the web. This acts as the one stop for pooling in all the resources.
</p>
<p>
	This website was developed by Saranya Ramasamy</p>
<p>
	You could contact me and drop in your reviews and feedback at saranyar.inbox@gmail.com
</p>