/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html *
{
   
      font-family: Georgia !important;
}


p.alert{ color: red; background-color:transparent; border:transparent;} 
p.notice{ color: green; }
#smallbg {
    background: rgb(245, 245, 240);

    /*transparent url('wall.png') no-repeat 0 90%;
    
    opacity: 0.9;
    filter:alpha(opacity=90);*/
}


#grey {
    background: rgb(245, 245, 240);
    opacity: 0.9;
    filter:alpha(opacity=90);
}
