<footer class="footer">
<small>
<%= link_to "Designed by Bloggers' niche", root_path %>
</small>
<nav>
<ul>
<li><a href="/posts.atom">RSS Feed</a></li>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>

</ul>
</nav>
</footer>